---
import { getCollection } from "astro:content";
import { Button } from '../ui/button'
import { formateLocalDate } from "../../lib/utils";

let posts = await getCollection('posts');

posts = posts.sort((a, b) => {
  return new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime();
});
posts = posts.slice(0, 2);
---

<div class="mt-2 space-y-4">
  {posts.length === 0 ? (
    <p class="text-sm text-muted-foreground italic">First posts coming soon.</p>
  ) : (
    <>
      {posts.map((post) => (
        <div>
          <h3 class="text-lg font-semibold text-primary">
            <a href={`/posts/${post.slug}`} class="hover:underline line-clamp-2">
              {post.data.title}
            </a>
          </h3>
          <p class="text-sm line-clamp-2">
            {post.data.description}
          </p>
          <p class="text-sm text-gray-600">
            {formateLocalDate(post.data.startDate)}
          </p>
        </div>
      ))}
      <a href="/posts">
        <Button variant="link" className="pl-0">View More</Button>
      </a>
    </>
  )}
</div>
