---
import { getCollection } from "astro:content";
import { Button } from "../ui/button";

let books = await getCollection("books");

books.sort((a, b) => {
  const ay = a.data.readYear ?? 0;
  const by = b.data.readYear ?? 0;
  if (by !== ay) return by - ay;
  return a.data.title.localeCompare(b.data.title);
});
let topBooks = books.slice(0, 5);
---

<div class="h-full">
  <p class="text-sm font-light my-1">
    I love to read across many different topics. Here is a selection of my favorite works, across disciplines, and my perspective on each of them.
  </p>
  <div class="h-full">
    <div class="mt-4 flex w-fit flex-col">
      <ul class="list-inside list-disc">
        {topBooks.map((book) => (
          <li>
            <a href={`/books/${book.slug}`} class="hover:font-bold hover:underline">
              {book.data.title}
            </a>
            <span class="text-xs italic text-muted-foreground"> — {book.data.author}</span>
          </li>
        ))}
      </ul>
      <a href="/books">
        <Button variant="link" className="pl-0">View More</Button>
      </a>
    </div>
  </div>
</div>
